matplotlib==3.5.2
kiwisolver==1.4.2
pandas==1.4.2
numpy==1.22.3
scipy==1.8.0
pytest==7.1.2
locust==2.8.6
selenium==4.1.3
filelock==3.6.0
packaging==21.3
prettytable==3.2.0
bzt==1.16.3     # make sure Dockerfile bzt version is the same
